.welcome-container, .bm-menu {
}

.canvas {
    background: url("../../images/whiteboard.png");
    background-size: cover;
    width: 220px;
    height: 200px;
    display: inline-grid;
    color: #0612ff;
    font-size: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 5px;
}

.canvas span {
    margin-top: 40%;
}

.canvas:hover {
    cursor: pointer;
    text-decoration: underline;
}

.welcome-message {
    color: #ffffff;
    font-size: 2em;
}

.welcome-submessage {
}