.rect {
    width: 20%;
    height: 6%;
}

.circle {
    width: 20%;
    height: 6%;
    border-radius: 100%
}

.text {
    width: 50px;
    border: 1px solid gray;
    text-align: center;

}
/*.bm-menu {*/
    /*background: url("../../images/sidebar.jpg");*/
    /*padding: 2.5em 1.5em 0;*/
    /*font-size: 1.15em;*/
    /*width: 100%;*/
    /*overflow: hidden;*/
/*}*/

.bm-menu {
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    width: 100%;
    overflow: scroll;
    /*background: #83a4d4;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #b6fbff, #83a4d4); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

#triangle:hover {
    border-color: #282c34;
}

#triangle.bm-item.triangle {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    /*border-bottom: 50px solid #fff;*/
    padding: 0;
    margin-left: 15%;
    margin-top: -15%;
}
