.header {
    text-align: center;
    color: #ffffff;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.5em;
}

.konvajs-content {
    height: inherit !important;
    width: 100% !important;
}

.button-wrap {
    margin-top: 50px;
}

.github-picker {
    box-sizing: content-box;
    transform: scale(0.8);
}

.canvas-container {
    border: 1px solid #a0a0a0;
    border-radius: 30px;
    cursor: pointer;
    width: 100% !important;
    height: inherit;
    padding-bottom: 20px;
    background-color: #ffffff;
}

.canvas-row {
    height: inherit;
    padding-bottom: 25px;
}