@import url('https://fonts.googleapis.com/css?family=Dokdo');
@import url('https://fonts.googleapis.com/css?family=Dokdo|Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Schoolbell');

html {
    height: 100%
}

root {
    height: 100%;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Gloria Hallelujah', cursive;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #83a4d4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: -webkit-fill-available;
    text-align: center;
}

a {
    text-decoration: none;
}

.modal-footer {
    justify-content: left;
}

.canvas-wrap {

    padding-bottom: 60px;
    height: -webkit-fill-available;

}

