.welcome-container {
    /*padding: 2%;*/
    background: url("images/landing-page.png");
    text-align: center;
}

.canvas {
    background: url("images/whiteboard.png");
    background-size: cover;
    font-family: 'Gloria Hallelujah', cursive;
    width: 200px;
    height: 200px;
    margin: 1%;
    display: inline-grid;
    color: #010002;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.canvas span {
    margin-top: 40%;
}

.canvas:hover {
    cursor: pointer;
    text-decoration: underline;
}

.welcome-message {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Dokdo', cursive;
}

.welcome-submessage {
    font-family: 'Schoolbell', cursive;
}