.welcome-container {
    /*padding: 2%;*/
    background: url("images/landing-page.png");
    text-align:center;
}

.canvas {
    background: url("images/canvas.jpg");
    width: 18%;
    height: 18%;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 42px;
    margin:3%;
    border-radius: 20px;
    display: inline-grid;
    color: #192ef9;
}

.welcome-message {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Dokdo', cursive;
}

.welcome-submessage {
    font-family: 'Schoolbell', cursive;
}